$colors:(
    'red':red,
    'white': white,
);
// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;
// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// Base Font
$base-font-size: 1rem;

// Font Sizes
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// Flex space
$flex-space-between: space-between;
$flex-space-evenly: space-evenly;
$flex-center: center;